{% extends "layout.html" %}

{% block title %}
    Registro
{% endblock %}

{% block main %}
    <img src="/static/imagenes/rebIconCool.jpg" class="team-logo">
    <form action="/register" method="post">
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="cedula" placeholder="Cedula" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="nombre" placeholder="Nombre" type="text">
        </div>
         <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="apellido" placeholder="Apellido" type="text">
        </div>
         <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="celular" placeholder="Celular" type="text">
        </div>
         <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text">
        </div>
         <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
        </div>
         <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="confirmar" placeholder="Confirmar" type="password">
        </div>

        <button class="btn btn-primary" type="submit">Register</button>
    </form>

{% endblock %}